* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  background-color: #08020d;
  color: #ffffff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  position: relative;
  margin: auto;
  padding-top: 100px;
  background-color: #08020d;
}

.container {
  margin: auto;
  text-align: center;
  max-width: 1200px;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 57px;
}

h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 36px;
}

.h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.btn {
  display: block;
  height: 66px;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px #cacaca solid;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 30px;
}

.bg-premium, .bg-standard, .bg-free {
  background-position: center;
  background-size: cover;
}

.orange {
  color: #f89202;
}

.light-gray {
  color: #cacaca;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
}

.bg-standard {
  background-image: url(../images/subscribe_2.png);
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.inline > li {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-red {
  background-color: #95390c;
}

.bg-purple {
  background-color: #5328a1;
}

.text-left {
  text-align: left;
}

@media (max-width: 414px) {
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
  }
}
.m-15px {
  margin: 15px;
}

.ml-16px {
  margin-left: 16px;
}

.mr-16px {
  margin-right: 16px;
}

.mr-88px {
  margin-right: 88px;
}

.mr-24px {
  margin-right: 24px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-32px {
  margin-bottom: 32px;
}

.mb-23px {
  margin-bottom: 23px;
}

.mb-48px {
  margin-bottom: 48px;
}

.mt-25px {
  margin-top: 25px;
}

.mt-50px {
  margin-top: 50px;
}

.pt-16px {
  padding-top: 16px;
}

.text-size-1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-size-3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

.text-size-7 {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.text-small {
  font-size: 12.8px;
  font-weight: 400;
  line-height: 19px;
}

.text-capitalize {
  text-transform: uppercase;
}

header {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 25px;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container .nav-bar {
  display: flex;
}
header .logo {
  width: 24px;
  margin-right: 16px;
}
header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-left: 88px;
}
header ul li {
  display: inline;
  margin-left: 24px;
  color: #cacaca;
}
header ul li.active {
  color: #ffffff;
}
header input {
  padding: 5px 10px;
  background-color: #3c3b3d;
  color: #757575;
  height: 26px;
  min-width: 248px;
  border-radius: 50px;
  border: 0 solid;
}

.bg-index {
  background-image: url(../images/banner.png);
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
}

#page-description {
  background-color: #08020d;
  background-position: center;
  background-size: cover;
  padding: 200px 0px;
}
#page-description .intro {
  margin-bottom: 32px;
}
#page-description .artist h1 {
  margin-top: 50px;
}
#page-description form {
  width: 570px;
  margin: auto;
}
#page-description form input {
  border-radius: 3px;
  height: 50px;
  border-color: #cacaca;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  min-width: 270px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
}
#page-description form button {
  border-radius: 5px;
  height: 60px;
  width: 100%;
  border-color: #34c176;
  background-color: #34c176;
  color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
#page-description button {
  min-width: 200px;
  height: 62px;
  margin: 0px 24px 24px 0;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 20px 30px;
}
#page-description button img {
  margin-right: 16px;
  width: 20px;
  filter: invert(90%) sepia(99%) saturate(33%) hue-rotate(195deg) brightness(106%) contrast(99%);
}

#page-pricing {
  max-width: 1240px;
  margin-left: 0;
  margin-right: 0;
}
#page-pricing .pricing-items {
  flex-wrap: wrap;
}
#page-pricing .pricing-items .pricing-item {
  width: 370px;
  border-radius: 1rem;
  padding: 22px 1.5rem 66px;
  margin-bottom: 38px;
}
#page-pricing .pricing-items .pricing-item h3 {
  margin-bottom: 200px;
}
#page-pricing .pricing-items .pricing-item .btn {
  margin: 0px 0 64px;
}
#page-pricing .pricing-items .pricing-item .pricing-value {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}

#page-news {
  max-width: 1240px;
  margin-left: 0;
  margin-right: 0;
}
#page-news .news-item {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
}
#page-news .news-item > img {
  width: 575px;
}
#page-news .news-item h3 {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 45px;
}
#page-news .news-item p {
  margin-top: 30px;
  margin-bottom: 24px;
}
#page-news .news-item .btn {
  padding: 16px 30px;
  height: 53px;
  width: 136px;
  border: 1px solid #cacaca;
}
#page-news .news-item .news-author span {
  margin-left: 16px;
  line-height: 16px;
}
#page-news .news-item .news-author {
  margin-bottom: 48px;
  display: flex;
}
#page-news .news-item > div {
  max-width: 575px;
  text-align: left;
}
#page-news .news-item > img:nth-child(odd) {
  margin-right: 50px;
}
#page-news .news-item:nth-child(odd) {
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
#page-news .news-item:nth-child(2) {
  margin-top: 48px;
}

#page-app {
  max-width: 1240px;
  margin-left: 0;
  margin-right: 0;
}
#page-app p {
  max-width: 580px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
}
#page-app img {
  margin: auto;
}
#page-app .btn {
  background-color: #95390c;
  border: 1px solid #95390c;
  border-radius: 32px;
  width: 131px;
  height: 53px;
  padding: 16px 40px;
  text-transform: unset;
}
#page-app h2 {
  margin-bottom: 48px;
}

footer {
  margin-top: 100px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  padding-top: 63px;
}
footer .container {
  text-align: left;
}
footer h2 {
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 15px;
}
footer .columns {
  column-count: 4;
}
footer .columns > div {
  max-width: 270px;
}
footer .column-break-before {
  break-before: column;
}
footer ul {
  text-align: left;
  color: #e0e0e0;
}
footer hr {
  border: 1px solid #e0e0e0;
  margin-top: 72px;
}
footer .container:nth-child(3) {
  padding-top: 40px;
  padding-bottom: 48px;
}
footer .container:nth-child(3) a {
  margin: 0 16px 16px 0;
}

#page-description-artist {
  background-color: #08020d;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding: 250px 0px;
}
#page-description-artist .container {
  text-align: left;
}
#page-description-artist form {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
  margin: auto;
}
#page-description-artist form > input,
#page-description-artist button {
  border-left-width: 2px;
  min-width: 200px;
  padding-left: 31px;
  margin-bottom: 1.5rem;
  margin-right: 24px;
  border-radius: 3px;
  color: #ffffff;
}
#page-description-artist form > input img,
#page-description-artist button img {
  margin-right: 16px;
  width: 20px;
  filter: invert(90%) sepia(99%) saturate(33%) hue-rotate(195deg) brightness(106%) contrast(99%);
}
#page-description-artist form > button {
  background-color: #34c176;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  text-transform: uppercase;
}

#page-popular-track {
  max-width: 1240px;
  margin-left: 0;
  margin-right: 0;
}
#page-popular-track h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: 700;
}
#page-popular-track .track-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 23px;
}
#page-popular-track .track-item {
  margin-top: 25px;
  margin-right: 50px;
  flex-grow: 1;
  flex-basis: 400px;
  display: flex;
  justify-content: space-between;
}
#page-popular-track .track-item img {
  margin-right: 15px;
  width: 55px;
}
#page-popular-track .track-item > div {
  display: flex;
  align-items: center;
  text-align: left;
}

#page-discography {
  max-width: 1240px;
  margin-left: 0;
  margin-right: 0;
}
#page-discography h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
}
#page-discography .disk-items {
  margin-top: 23px;
}
#page-discography .disk-items .disk-item {
  margin-right: 50px;
  margin-top: 25px;
}
#page-discography .disk-items .disk-item img {
  display: block;
  margin-bottom: 18px;
}

#page-similar {
  max-width: 1240px;
  margin-left: 0;
  margin-right: 0;
}
#page-similar h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
}
#page-similar .artist {
  text-align: center;
  margin-right: 50px;
  margin-top: 25px;
}
#page-similar .artist img {
  display: block;
  margin-bottom: 18px;
  width: 250px;
}

@media (max-width: 414px) {
  .container {
    padding: 0 20px;
  }

  header .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 0 20px;
  }
  header .container input {
    width: 100%;
  }
  header .container .nav-bar {
    display: flex;
    flex-direction: column;
  }
  header .container .nav-bar ul {
    display: inline-block;
    margin: 16px 0;
  }
  header .container .nav-bar ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 0;
  }
  header .container form {
    width: 100%;
  }

  #page-description .container {
    padding-top: 0px;
  }
  #page-description .intro {
    margin-bottom: 16px;
  }
  #page-description .intro h1 {
    margin-top: 50px;
  }
  #page-description .artist h1 {
    margin-top: 25px;
  }
  #page-description form {
    width: 100%;
  }
  #page-description form input {
    width: 100%;
  }
  #page-description form button {
    width: 100%;
  }

  #page-pricing .pricing-items .pricing-item {
    width: 100%;
    margin-bottom: 50px;
    padding-top: 14px;
  }
  #page-pricing .pricing-items .pricing-item h3 {
    margin-bottom: 200px;
  }

  #page-news .news-item > img {
    width: 100%;
    margin-bottom: 50px;
  }
  #page-news .news-item h3 {
    font-size: 16px;
    line-height: 24px;
  }
  #page-news .news-item p {
    margin-top: 16px;
  }

  footer .columns {
    column-count: unset;
  }
  footer .columns > div {
    max-width: 100%;
    margin-bottom: 31px;
  }
  footer .off-1 {
    margin-bottom: 14px;
  }
  footer hr {
    border: 1px solid #e0e0e0;
    margin-top: 69px;
  }
  footer .container:nth-child(3) {
    padding-bottom: 32px;
  }
  footer .container:nth-child(3) a {
    display: block;
  }

  #page-discography .disk-items .disk-item {
    width: 137px;
  }
  #page-discography .disk-items .disk-item img {
    width: 137px;
  }

  #page-similar .artist {
    width: 137px;
  }
  #page-similar .artist img {
    display: block;
    margin-bottom: 18px;
    width: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
