* {
  box-sizing: border-box;
}

@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  box-sizing: border-box;
  margin: auto;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  background-color: red;
  color: #ffffff;
}

.h3, .h2, .h1 {
  font-weight: bold;
  text-transform: uppercase;
}

section {
  position: relative;
  margin: auto;
  padding-top: 100px;
  background-color: #08020d;
}

.container {
  margin: auto;
  text-align: center;
  max-width: 1200px;
}

.h1 {
  font-size: 60px;
  line-height: 90px;
}

.h2 {
  font-size: 38px;
  line-height: 57px;
}

.h3 {
  font-size: 24px;
  line-height: 45px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.mr-12px {
  margin-right: 12px;
}

.ml-12px {
  margin-left: 12px;
}

.mt-50px {
  margin-top: 50px;
}

.mr-1-5rem {
  margin-right: 1.5rem;
}

@media (max-width: 414px) {
  .h1 {
    font-size: 30px;
    line-height: 45px;
  }

  .h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .container {
    padding: 20px;
  }

  .mr-1-5rem {
    margin-right: 0;
  }

  .pricing-item {
    margin-bottom: 54px;
  }

  img {
    max-width: 374px;
  }
}
.m-0 {
  margin: 0;
}

.text-size-7 {
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;
}

.text-size-3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.text-size-1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.text-small {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.btn {
  border: 2px #cacaca solid;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  text-align: center;
}

.bg-premium, .bg-standard, .bg-free {
  background-position: center;
  background-size: cover;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
}

.bg-standard {
  background-image: url(../images/subscribe_2.png);
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.avatar {
  width: 19px;
}

.text-capitalize {
  text-transform: uppercase;
}

.orange {
  color: #f89202;
}

.light-gray {
  color: #cacaca;
}

.columns-2 {
  column-count: 2;
}

.text-left {
  text-align: left;
}

.radius-32px {
  border-radius: 32px;
}

.red {
  color: #95390c;
}

.bg-red {
  background-color: #95390c;
}

.text-small {
  font-size: 12.8px;
  line-height: 19.2px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mw-600px {
  max-width: 600px;
}

.m-auto {
  margin: auto;
}

.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

#page-description {
  background-color: #08020d;
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  padding: 200px 0px;
}
#page-description form {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
  margin: auto;
}
#page-description form > input,
#page-description button {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px #cacaca solid;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
}
#page-description form > button {
  background-color: #34c176;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  text-transform: uppercase;
}

#page-pricing {
  background-color: #08020d;
  padding-top: 100px;
}

.pricing-item {
  width: 367px;
  height: 619px;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 39px;
}
.pricing-item .h3 {
  margin-bottom: 200px;
  font-weight: 400;
}
.pricing-item .pricing-value {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 24px;
}
.pricing-item .text-size-3 {
  padding: 16px;
}
.pricing-item .btn {
  margin-bottom: 64px;
  width: 320px;
}
.pricing-item .pricing-footer {
  margin: 0;
}

.news-item {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
}
.news-item > img {
  width: 575px;
}
.news-item .news-author > * {
  margin-right: 16px;
  font-size: 12.8px;
  line-height: 19.2px;
}
.news-item .news-author {
  margin-bottom: 48px;
}
.news-item .h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  color: #ffffff;
  text-transform: unset;
}
.news-item > div {
  max-width: 575px;
  text-align: left;
}
.news-item > img:nth-child(odd) {
  margin-right: 50px;
}

.news-item:nth-child(odd) {
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.news-item:nth-child(2) {
  margin-top: 48px;
}

@media (max-width: 414px) {
  .news-body {
    margin-top: 50px;
  }
}
#page-app .btn {
  border: 1px solid #95390c;
  width: 131px;
  height: 53px;
  padding: 17px 40px;
  text-transform: unset;
}
#page-app .h2 {
  margin-bottom: 48px;
}

/*# sourceMappingURL=style.css.map */
