@import 'variables.scss';
@import 'general.scss';
@import 'margins.scss';
@import 'text.scss';

header {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 25px;
  .container {
    display: flex;
    justify-content: space-between;

    .nav-bar {
      display: flex;
    }
  }

  .logo {
    width: 24px;
    margin-right: 16px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-left: 88px;

    li {
      display: inline;
      margin-left: 24px;
      color: $light-gray;
      // padding-bottom: 3px;
      &.active {
        color: $white;
      }
    }
  }

  input {
    padding: 5px 10px;
    background-color: $dark;
    color: #757575;
    height: 26px;
    min-width: 248px;
    border-radius: 50px;
    border: 0 solid;
  }
}

#page-description {
  background-color: $bg-black;
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  padding: 200px 0px;

  .intro {
    margin-bottom: 32px;
  }

  form {
    width: 570px;
    margin: auto;
    input {
      border-radius: 3px;
      height: 50px;
      border-color: $light-gray;
      background-color: rgba(255, 255, 255, 0);
      color: $white;
      min-width: 270px;
      padding-left: 20px;
      margin-bottom: 1.5rem;
    }
    button {
      border-radius: 5px;
      height: 60px;
      width: 100%;
      border-color: $green;
      background-color: $green;
      color: $white; // common
      padding: 20px 30px;
      text-transform: uppercase; //@at-root
    }
  }
}

#page-pricing {
  .pricing-items {
    flex-wrap: wrap;
    .pricing-item {
      width: 370px;
      border-radius: 1rem;
      padding: 22px 1.5rem 66px;
      margin-bottom: 38px;

      h3 {
        margin-bottom: 200px;
      }
      .btn {
        margin: 0px 0 64px;
      }
      .pricing-value {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 40px;
      }
    }
  }
}

.news-item {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  > img {
    width: 575px;
  }

  .news-author > * {
    margin-right: 16px;
    font-size: 12.8px;
    line-height: 19.2px;
  }
  .news-author {
    margin-bottom: 48px;
  }

  .h3 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    color: $white;
    text-transform: unset;
  }
  > div {
    max-width: 575px;
    text-align: left;
  }

  > img:nth-child(odd) {
    margin-right: 50px;
  }
}
.news-item:nth-child(odd) {
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.news-item:nth-child(2) {
  margin-top: 48px;
}

// #page-similar {
//   position: relative;

//   max-width: 1200px;
//   margin: auto;
//   padding-top: 100px;
//   margin-bottom: 100px;

//   .artist {
//     // background-color: brown;

//     // width: 250px;
//     text-align: center;
//     margin: 0px 50px 25px 0px;
//     img {
//       width: 250px;
//     }
//   }
// }

// #page-description-artist {
//   background-color: $bg-black;
//   background-image: url('../images/Morten\ Harket.png');
//   background-position: center;
//   background-size: cover;

//   padding: 250px 0px;

//   .container {
//     text-align: left;
//   }

//   form {
//     display: flex;
//     flex-wrap: wrap;
//     // background-color: blueviolet;
//     max-width: 570px;
//     margin: auto;
//   }

//   form > input,
//   button {
//     border-left-width: 2px;
//     min-width: 200px;
//     // min-height: 50px;
//     padding-left: 31px;
//     margin-bottom: 1.5rem;
//     // margin-top: 24px;
//     margin-right: 24px;
//     // border: 2px $light-grey solid;
//     border-radius: 3px;
//     // background-color: rgba(255, 255, 255, 0);
//     color: $white;
//     img {
//       margin-right: 16px;
//       width: 20px;
//       filter: invert(90%) sepia(99%) saturate(33%) hue-rotate(195deg)
//         brightness(106%) contrast(99%);
//     }
//   }
//   form > button {
//     background-color: $green;
//     color: $white;
//     border-radius: 5px;
//     padding: 20px 30px;
//     text-transform: uppercase;
//   }
// }

//

// #page-app {
//   .btn {
//     border: 1px solid $red;
//     width: 131px;
//     height: 53px;
//     padding: 17px 40px;
//     text-transform: unset;
//   }
//   .h2 {
//     margin-bottom: 48px;
//   }
// }

// #footer {
//   padding-top: 61px;
//   ul {
//     color: $grey;
//   }
// }
// hr {
//   border: 1px solid $grey;
// }

// .disk-item {
//   img {
//     margin-bottom: 18px;
//   }
//   margin-right: 50px;
//   margin-bottom: 25px;
// }

// .track-items {
//   display: flex;
//   flex-wrap: wrap;
// }
// .track-item {
//   margin-bottom: 25px;
//   margin-right: 50px;
//   // background-color: salmon;
//   flex-grow: 1;
//   flex-basis: 400px;
//   display: flex;
//   justify-content: space-between;
//   img {
//     margin-right: 15px;
//   }
//   > div {
//     display: flex;
//     align-items: center;
//     text-align: left;
//   }
// }

// // #search {
// //   max-height: 25px;
// //   background-color: red;
// // }

@media (max-width: 414px) {
  .container {
    padding: 0 20px;
  }

  header {
    // line-height: 16px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      padding: 0 20px;
      input {
        width: 100%;
      }

      .nav-bar {
        display: flex;
        flex-direction: column;

        ul {
          display: inline-block;
          margin: 16px 0;
          li {
            display: block;
            margin-left: 0;
            margin-bottom: 0;
          }
        }
      }
      form {
        width: 100%;
      }
    }
  }

  #page-description {
    .container {
      padding-top: 50px;
    }
    .intro {
      margin-bottom: 16px;
    }
    form {
      width: 100%;
      input {
        width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }

  #page-pricing {
    .pricing-item {
      width: 100%;
      margin-bottom: 50px;
      padding-top: 18px;
      h3 {
        margin-bottom: 200px;
      }
    }
  }

  //   .news-body {
  //     margin-top: 50px;
  //   }
  //   .track-item {
  //     margin-right: 0px;
  //   }
  //   #header {
  //     // flex-wrap: wrap;
  //     flex-direction: column;
  //     max-width: calc(100% - 20px * 2);
  //     // justify-content: start;
  //     align-items: flex-start;
  //     > div {
  //       // flex-wrap: wrap;
  //       display: block;
  //       width: 100%;
  //     }

  //     .nav {
  //       margin-top: 17px;
  //       span {
  //         display: block;
  //         margin-bottom: 3px;
  //       }
  //       margin-bottom: 18px;
  //     }
  //     form {
  //       min-width: calc(100% - 20px);
  //       input {
  //         width: 100%;
  //       }
  //     }
  //   }
  //   #page-description-artist {
  //     padding-top: 205px;
  //     padding-bottom: 180px;
  //   }
  //   #page-similar {
  //     // position: relative;

  //     // max-width: 1200px;
  //     // margin: auto;
  //     // padding-top: 100px;
  //     // margin-bottom: 100px;
  //     padding-left: 20px;

  //     .artist {
  //       // background-color: brown;
  //       img {
  //         width: 137px;
  //       }

  //       // text-align: center;
  //       width: 137px;
  //       margin: 0px 50px 25px 0px;
  //     }
  //   }
  //   .h1 {
  //     font-size: 30px;
  //     line-height: 45px;
  //     font-weight: bold;
  //   }

  //   .h2 {
  //     font-size: 18px;
  //     line-height: 27px;
  //     font-weight: bold;
  //   }
}
