@import 'variables.scss';
@import 'general.scss';
@import 'margins.scss';
@import 'text.scss';

header {
  position: absolute;
  top: 25px;
  z-index: 9999;

  width: 100%;

  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;

  .container {
    display: flex;
    justify-content: space-between;

    .nav-bar {
      display: flex;
    }
  }

  .logo {
    width: 24px;
    margin-right: 16px;
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 88px;

    list-style-type: none;

    li {
      display: inline;
      margin-left: 24px;

      color: $light-gray;

      &.active {
        color: $white;
      }
    }
  }

  input {
    min-width: 248px;
    height: 26px;
    padding: 5px 10px;

    color: #757575;

    background-color: $dark;

    border: 0 solid;
    border-radius: 50px;
  }
}

.bg-index {
  background-image: url(../images/banner.png);
}

.bg-artist {
  background-image: url('../images/Morten\ Harket.png');
}

#page-app {
  max-width: 1240px;
  margin-right: 0;
  margin-left: 0;

  p {
    max-width: 580px;

    margin-top: 16px;
    margin-bottom: 16px;

    text-align: left;
  }

  img {
    margin: auto;
  }

  .btn {
    width: 131px;
    height: 53px;
    padding: 16px 40px;

    text-transform: unset;

    background-color: $red;

    border: 1px solid $red;
    border-radius: 32px;
  }

  h2 {
    margin-bottom: 48px;
  }
}

#page-description {
  padding: 200px 0;

  background-color: $bg-black;
  background-position: center;
  background-size: cover;

  .intro {
    margin-bottom: 32px;
  }

  .artist {
    h1 {
      margin-top: 50px;
    }
  }

  form {
    width: 570px;
    margin: auto;

    input {
      min-width: 270px;
      height: 50px;
      margin-bottom: 1.5rem;
      padding-left: 20px;

      color: $white;

      background-color: rgba(255, 255, 255, 0);

      border-color: $light-gray;

      border-radius: 3px;
    }

    button {
      width: 100%;
      height: 60px;
      margin-bottom: 0;
      padding: 20px 30px;

      color: $white;
      text-transform: uppercase;

      background-color: $green;
      border-color: $green;
      border-radius: 5px;
    }
  }

  button {
    min-width: 200px;
    height: 62px;
    margin: 0 24px 24px 0;
    padding: 20px 30px;

    color: $white;
    text-transform: uppercase;

    border-radius: 5px;

    img {
      width: 20px;
      margin-right: 16px;

      filter: invert(90%) sepia(99%) saturate(33%) hue-rotate(195deg)
        brightness(106%) contrast(99%);
    }
  }
}

footer {
  margin-top: 100px;
  padding-top: 63px;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .container {
    text-align: left;
  }

  h2 {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 27px;
    text-align: left;
    text-transform: uppercase;
  }

  .columns {
    column-count: 4;

    > div {
      max-width: 270px;
    }
  }

  .column-break-before {
    break-before: column;
  }

  ul {
    color: $grey;

    text-align: left;
  }

  hr {
    margin-top: 72px;

    border: 1px solid $grey;
  }

  .container:nth-child(3) {
    padding-top: 40px;

    padding-bottom: 48px;

    a {
      margin: 0 16px 16px 0;
    }
  }
}

#page-popular-track {
  max-width: 1240px;
  margin-right: 0;
  margin-left: 0;

  h3 {
    font-weight: 700;
    font-size: 12.8px;
    line-height: 19.2px;
  }

  .track-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
  }

  .track-item {
    display: flex;
    flex-basis: 400px;
    flex-grow: 1;
    justify-content: space-between;

    margin-top: 25px;
    margin-right: 50px;

    img {
      width: 55px;
      margin-right: 15px;
    }

    > div {
      display: flex;
      align-items: center;

      text-align: left;
    }
  }
}

#page-discography {
  max-width: 1240px;
  margin-right: 0;
  margin-left: 0;

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
  }

  .disk-items {
    margin-top: 23px;

    .disk-item {
      img {
        display: block;
        margin-bottom: 18px;
      }
      margin-top: 25px;
      margin-right: 50px;
    }
  }
}

#page-pricing {
  max-width: 1240px;
  margin-right: 0;
  margin-left: 0;

  .pricing-items {
    flex-wrap: wrap;

    .pricing-item {
      width: 370px;
      margin-bottom: 38px;
      padding: 22px 1.5rem 66px;

      border-radius: 1rem;

      h3 {
        margin-bottom: 200px;
      }

      .btn {
        margin: 0 0 64px;
      }

      .pricing-value {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        margin-bottom: 40px;
      }
    }
  }
}

#page-similar {
  max-width: 1240px;

  margin-right: 0;
  margin-left: 0;

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
  }

  .artist {
    margin-top: 25px;
    margin-right: 50px;

    text-align: center;

    img {
      display: block;
      width: 250px;
      margin-bottom: 18px;
    }
  }
}

#page-news {
  max-width: 1240px;

  margin-right: 0;
  margin-left: 0;

  .news-item {
    display: flex;
    flex-wrap: wrap;

    margin-top: 65px;

    > img {
      width: 575px;
    }

    h3 {
      font-weight: normal;
      font-size: 30px;
      line-height: 45px;
      text-transform: capitalize;
    }

    p {
      margin-top: 30px;
      margin-bottom: 24px;
    }

    .btn {
      width: 136px;
      height: 53px;

      padding: 16px 30px;

      border: 1px solid $light-gray;
    }

    .news-author span {
      margin-left: 16px;

      line-height: 16px;
    }

    .news-author {
      display: flex;

      margin-bottom: 48px;
    }

    > div {
      max-width: 575px;

      text-align: left;
    }

    > img:nth-child(odd) {
      margin-right: 50px;
    }
  }

  .news-item:nth-child(odd) {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }

  .news-item:nth-child(2) {
    margin-top: 48px;
  }
}

@media (max-width: 414px) {
  .container {
    padding: 0 20px;
  }

  header {
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 20px;

      text-align: left;

      input {
        width: 100%;
      }

      .nav-bar {
        display: flex;
        flex-direction: column;

        ul {
          display: inline-block;
          margin: 16px 0;

          li {
            display: block;
            margin-bottom: 0;
            margin-left: 0;
          }
        }
      }

      form {
        width: 100%;
      }
    }
  }

  footer {
    .columns {
      column-count: unset;

      > div {
        max-width: 100%;
        margin-bottom: 31px;
      }
    }

    .off-1 {
      margin-bottom: 14px;
    }

    hr {
      margin-top: 69px;

      border: 1px solid $grey;
    }

    .container:nth-child(3) {
      padding-bottom: 32px;

      a {
        display: block;
      }
    }
  }

  #page-description {
    .container {
      // padding-top: 0px;
    }

    .intro {
      margin-bottom: 16px;

      h1 {
        margin-top: 50px;
      }
    }

    .artist {
      h1 {
        margin-top: 25px;
      }
    }

    form {
      width: 100%;

      input {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  #page-news {
    .news-item {
      > img {
        width: 100%;
        margin-bottom: 50px;
      }

      h3 {
        font-size: 16px;
        line-height: 24px;
      }

      p {
        margin-top: 16px;
      }
    }
  }

  #page-pricing {
    .pricing-items {
      .pricing-item {
        width: 100%;
        margin-bottom: 50px;
        padding-top: 14px;

        h3 {
          margin-bottom: 200px;
        }
      }
    }
  }

  #page-similar {
    .artist {
      width: 137px;

      img {
        width: 137px;
      }
    }
  }

  #page-discography {
    .disk-items {
      .disk-item {
        width: 137px;

        img {
          width: 137px;
        }
      }
    }
  }
}
