* {
  box-sizing: border-box;
}

@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  box-sizing: border-box;
  margin: auto;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;

  background-color: red;
  color: $white;
}

%h-element {
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  margin: auto;
  text-align: center;
  max-width: 1200px;
}

.h1 {
  @extend %h-element;
  font-size: 60px;
  line-height: 90px;
}

.h2 {
  @extend %h-element;
  font-size: 38px;
  line-height: 57px;
}

.h3 {
  @extend %h-element;
  font-size: 18px;
  line-height: 27px;
}

.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;
}

.mr-12px {
  margin-right: 12px;
}
.ml-12px {
  margin-left: 12px;
}

.mr-1-5rem {
  margin-right: 1.5rem;
}

@media (max-width: 414px) {
  .h1 {
    @extend %h-element;
    font-size: 30px;
    line-height: 45px;
  }

  .h2 {
    @extend %h-element;
    font-size: 18px;
    line-height: 27px;
  }

  .container {
    padding: 20px;
  }
  .mr-1-5rem {
    margin-right: 0;
  }
}
