.ml-16px {
  margin-left: 16px;
}
.mr-16px {
  margin-right: 16px;
}

.mr-88px {
  margin-right: 88px;
}
.mr-24px {
  margin-right: 24px;
}
.mb-16px {
  margin-bottom: 16px;
}
.mb-32px {
  margin-bottom: 32px;
}

.mt-50px {
  margin-top: 50px;
}

.pt-16px {
  padding-top: 16px;
}
