* {
  box-sizing: border-box;
}

@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;

  background-color: #08020d;
  box-sizing: border-box;
  margin: auto;
}

#page-similar {
  position: relative;

  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
  margin-bottom: 100px;

  .artist {
    // background-color: brown;

    // width: 250px;
    text-align: center;
    margin: 0px 50px 25px 0px;
    img {
      width: 250px;
    }
  }
}

// .uppercase {
//   text-transform: uppercase;
// }

.h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

.h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

.h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.mb-48px {
  margin-bottom: 48px;
}

@media (max-width: 414px) {
  #page-similar {
    // position: relative;

    // max-width: 1200px;
    // margin: auto;
    // padding-top: 100px;
    // margin-bottom: 100px;
    padding-left: 20px;

    .artist {
      // background-color: brown;
      img {
        width: 137px;
      }

      // text-align: center;
      width: 137px;
      margin: 0px 50px 25px 0px;
    }
  }

  .h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
  }

  .h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }
}
