$white: #ffffff;
$green: #34c176;
$bg-black: #08020d;
$light-grey: #cacaca;
$bg-free-url: url(../images/subscribe_1.png);
$bg-standard-url: url(../images/subscribe_2.png);
$bg-premium-url: url(../images/subscribe_3.png);
